@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.nav {
  margin: 8px 0;
  padding: 2px 0;
  .upperNav {
    @include clearfix;
    .upperLeftNav {
      float: left;
      li {
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        img {
          vertical-align: bottom;
        }
        p {
          margin: 3px 0 3px 6px;
        }
        .siteNav {
          li {
            margin: 0 2px;
            padding: 4px 8px;
            border-left: 1px solid #999999;
            display: inline-block;
          }
        }
      }
      .greetingUser {
        border-left: 1px solid #999999;
        padding: 12px 12px 11px;
      }
    }
    // TODO 要調整
    .upperRightNav {
      position: absolute;
      top: 70px;
      right: 0;
      margin: 0 20px;
      .login {
        background-color: #CAFF90;
      }
      .singUp {
        background-color: #FFF990;
      }
      .cart {
        background-color: #FEE592;
      }
      li {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        width: 64px;
        padding: 48px 0 10px;
        border: 1px solid #999999;
        border-top: none;
      }
    }
  }
  .lowerNav {
    @include clearfix;
    .lowerLeftNav {
      float: left;
      li {
        display: inline-block;
        margin-top: 14px;
        padding-right: 8px;
        .searchWord {
          font-size: 14px;
        }
      }
    }
     //TODO 要調整
    .lowerRightNav {
      float: Right;
      margin-top: 15px;
      input[type=text] {
      }
    }
  }
  .information {
    text-align: center;
    margin: 12px -200% 0;
    padding: 2px 200%;
    background-color: #F5EFDB;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    li {
      display: inline-block;
    }
  }
}