@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin leftArrow {
  position: absolute;
  margin-top: -50%;
  top: 50%;
  left: 3px;
  width: 10px;
  height: 10px;
  border-top: 6px solid #7a0;
  border-right: 6px solid #7a0;
  transform: rotate(225deg);
}

@mixin rightArrow {
  position: absolute;
  margin-top: -50%;
  top: 50%;
  left: 3px;
  width: 10px;
  height: 10px;
  border-top: 6px solid #7a0;
  border-right: 6px solid #7a0;
  transform: rotate(45deg);
}

.mainContents {
  @include clearfix;
  div {
    float: left;
  }
  .leftButton {
    float: left;
    position: relative;
    height: 277px;
    width: 40px;
    .leftArrow {
      @include leftArrow;
      margin-top: -40%;
    }
  }
  .rightButton {
    float: left;
    position: relative;
    height: 277px;
    width: 40px;
    .rightArrow {
      @include rightArrow;
      margin-top: -35%;
      margin-left: 18px;
      margin-bottom: 18px;
    }
  }
  .mainContentsBlock {
    margin: 8px 7px 18px;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 2px;
    }
  }
}

.newItems {
  @include clearfix;
  background-color: #e4e4e4;
  border-radius: 0.5em;
  padding: 4px 2px;
  margin-bottom: 30px;
  div {
    float: left;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 8px;
      .panel {
        background-color: #FFFFFF;
        padding: 0 10px;
        h3 {
          font-weight: normal;
          background-color: #FB444B;
          color: #FFFFFF;
          text-align: center;
          border-radius: 0.5em;
          padding: 2px;
          margin: 2px 0;
        }
        p {
          padding-bottom: 8px;
        }
      }
    }
  }
  .leftButton {
    float: left;
    position: relative;
    height: 398px;
    width: 24px;
    margin-left: 6px;
    .leftArrow {
      @include leftArrow;
    }
  }
  .rightButton {
    float: left;
    position: relative;
    height: 398px;
    width: 24px;
    margin-left: 6px;
    .rightArrow {
      @include rightArrow;
    }
  }
  h2 {
    padding: 2px 14px;
    margin-bottom: 4px;
    background-color: #FFFFFF;
  }
  .otherNewItems {
    clear: both;
    text-align: right;
    margin-bottom: 4px;
    span {
      border: 1px solid #9F504F;
      color: #9F504F;
      border-radius: 0.2em;
      margin: 8px;
      padding: 2px;
    }
  }
}

.recommendItems {
  background-color: #e4e4e4;
  border-radius: 0.5em;
  padding: 4px 2px;
  margin-bottom: 30px;
  div {
    ul {
      text-align: center;
      li {
        display: inline-block;
        vertical-align: top;
        margin: 4px 5px;
        .panel {
          background-color: #FFFFFF;
          padding: 2px 16px;
          h3 {
            font-weight: normal;
            background-color: #FB444B;
            color: #FFFFFF;
            text-align: center;
            border-radius: 0.5em;
            padding: 2px;
            margin: 2px 0;
          }
          p {
            padding-bottom: 8px;
          }
        }
      }
    }
  }
  h2 {
    padding: 2px 14px;
    background-color: #FFFFFF;
  }
}

.shopList {
  background-color: #e4e4e4;
  border-radius: 0.5em;
  padding: 4px 2px;
  margin-bottom: 30px;
  > ul {
    background-color: #FFFFFF;
    > li {
      display: inline-block;
      margin: 10px 90px;
      .subCategories {
        li {
          display: block;
        }
      }
    }
  }
  h2 {
    padding: 2px 14px;
    margin-bottom: 4px;
    background-color: #FFFFFF;
  }
}

.news {
  background-color: #e4e4e4;
  border-radius: 0.5em;
  padding: 4px 2px;
  margin-bottom: 30px;
  h2 {
    padding: 2px 14px;
    margin-bottom: 4px;
    background-color: #FFFFFF;
  }
  ul {
    background-color: #FFFFFF;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #e4e4e4;
      list-style: none;
      .date {
        padding: 0 24px;
        border-right: 1px solid #e4e4e4;
      }
      .headline {
        width: 100px;
        padding: 0 10px;
      }
    }
  }
}
