.header {
  position: relative;
  .banner {
    img {
      vertical-align: bottom;
    }
  }
  .title {
    margin: 0 -200%;
    padding: 4px 200%;
    background-color: #DDDDDD;
    h1 {
      text-align: center;
      font-weight: normal;
    //  TODO 正しいフォントを作る
    }
  }
}

