@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

footer {
  @include clearfix;
  padding-bottom: 40px;
  .line {
    margin: 0 -200% 30px;
    padding: 0 200%;
    border-bottom: 1px solid #999999;
  }

  .corporate {
    float: left;
    margin-right: 55px;
    .footerTitle {
      margin: 12px;
    }
    > p {
      padding: 6px 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .links {
    float: left;
    > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 120px 0 38px;
      border-right: 1px solid #999999;
      height: 180px;
      &:last-child {
        border-right: none;
        padding: 0 0 0 38px;
      }
      h2 {
        margin-bottom: 18px;
        padding-top: 2px;
        color: #B8AC83;
      }
      ul {
        li {
          margin-bottom: 12px;
          list-style: none;
        }
      }
    }
  }
}
